#home-title {
  font-weight: 700;
  font-stretch: 125%;
  font-size: clamp(0.9rem, 6vw, 3rem);
}

.esqueci-senha {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.53);
  font-weight: normal;
  font-size: 16px;
}

.switch-active {
  background-color: var(--azul-agregar);
  border: 1px solid silver;
}

.switch-active:hover {
  background-color: var(--azul-agregar);
  border: 1px solid silver;
}

.switch-inactive {
  background-color: transparent;
  color: black;
  border: 1px solid silver;
}

.switch-inactive:hover {
  background-color: transparent;
  color: black;
  border: 1px solid silver;
}
