/* Modal */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    max-width: 100%;
    min-width: max-content;
    background-color: #f1f5f9;
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-footer{
    border-top: none;
  }